.filter-label {
    color: #000000;
    margin-left: 20;
    margin-top: 10;
    margin-bottom: 10;
}

.reset-label {
    horizontal-align: right;
    color: #F5486B;
    margin-right: 20;
    margin-top: 10;
}

.filter-panel {
    border-top: 1 solid #efeff4;
    border-bottom: 1 solid #efeff4;
}

.filter-text {
    horizontal-align: center;
    color: #5b57d9
}

.filter-text.selected {
    font-weight: bold;
}

.filter-grid {
    margin-left: 50;
    margin-right: 10;
    horizontal-align: center;
}

.filter-button {
    margin-top: 10;
    width: 60;
    height: 60;
    border-width: 1;
    border-radius: 30;
    font-size: 24;
    color: #5b57d9;
    background-color: #efeff4;
    border-color: #efeff4;
}

.filter-button.selected {
    color: #efeff4;
    background-color: #5b57d9;
    border-color: #5b57d9;
}

.find-button {
    background-color: #F42952;
    color: #efeff4;
    text-transform: none;
}

.zip-text-field {
    horizontal-align: right;
    margin-right: 15;
}

.location-show-button {
    horizontal-align: right;
    background-color: #efeff4;
    border-color: #efeff4;
    color: #5b57d9;
    margin-right: 15;
}

.checkmark {
    color: #F5486B;
}

.filterListView {
    background-color: #ffffff;
}