.consent-panel {
    background-color: #EFEFF4;
}
.consent-text {
    color: #949494;
}

.submit-button.active {
    background-color: #F03B59;
}

.submit-button {
    background-color: gray;
    margin: 10 0;
}
