.cancel-button {
    color: white;
    background-color: #FACB00;
    font-size: 16;
    text-transform: none;
}

.book-button {
    color: white;
    background-color: #62D95D;
    font-size: 16;
    text-transform: none;
}